body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#wordDisplay {
    font-size: 5rem;
}

#keyboard {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
}

.letterBtn {
    font-size: 1.3rem;
    width: 40px;
    height: 40px;
    margin: 4px;
}

.newGame {
    padding: 3px;
    margin: 3px;
    font-size: .8rem;
}

.wrong {
    background-color: lightcoral;
}

.correct {
    background-color: lightgreen;
}